.comment {
	margin: 10px 0px 10px 0px;
	background-color: #0084FF;
	&__info {
		width: 100%;
		text-overflow: ellipsis;
		height: 50px;
		.wrapper {
			display: flex;
			flex-direction: row;
			width: 200px;
			padding-left: 10px;
			overflow: hidden;
			text-overflow: ellipsis;

			span {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	p {
		padding-bottom: 10px;
	}
}
