.nav-wrapper {
    width: 100%;
    min-height: 30px;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0%;
}

.nav-container {
    width: 80%;
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-navbuttons * {
    margin-left: 1rem;
}